@import '../../sass/abstracts/variables';

.form-alert {
  width: 100%;
  padding: map-get($spacing-sizes, 3);
  border-radius: $border-radius;
  background-color: $white;
  font-weight: 500;
  color: $red-8;
  box-shadow: $box-shadow-2;
  background-color: $red-1;
}
