/* Neutrals */
$gray-1: #f5f7fa;
$gray-2: #e4e7eb;
$gray-3: #cbd2d9;
$gray-4: #9aa5b1;
$gray-5: #7b8794;
$gray-6: #616e7c;
$gray-7: #52606d;
$gray-9: #323f4b;
$gray-10: #1f2933;

/* Brand */
$primary-8: #127fbf;
$primary-9: #0b69a3;
$primary-10: #035388;

/* Pink */
$pink-9: #870557;

$red-1: #ffe3e3;
$red-4: #f86a6a;
$red-8: #ab091e;
$red-9: #8a041a;

$yellow-9: #b44d12;

/* Spacing */
$spacing-sizes: (
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.5rem,
  6: 2rem,
  7: 3rem,
  8: 4rem,
  9: 6rem,
  10: 8rem,
  11: 12rem,
  12: 16rem,
  13: 24rem,
  14: 32rem,
  15: 40rem,
  16: 48rem,
);

/* Font Sizes */
$font-size-1: 0.75rem;
$font-size-2: 0.875rem;
$font-size-3: 1rem;
$font-size-4: 1.125rem;
$font-size-5: 1.25rem;
$font-size-6: 1.5rem;
$font-size-7: 1.875rem;

/* Border Radius */
$border-radius: 3px;

/* Globals */
$black: $gray-10;
$white: #fff;
$background-color: $gray-2;
$default-font-size: $font-size-3;
$container-width: map-get($spacing-sizes, 16);
