<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src * data: gap: https://ssl.gstatic.com 'unsafe-eval'; script-src 'self' localhost:3000; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Duxbase</title>
  </head>

  <body>
    <div id="app"></div>
    <% if (htmlWebpackPlugin.options.isCordova) { %>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="initCordova.js"></script>
    <% } %>
  </body>
</html>
