@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/functions';

.card {
  background-color: $white;
  box-shadow: getBoxShadow($black, 2);
  border-radius: $border-radius;

  &--fluid {
    height: 100%;
  }

  &--padded {
    padding: map-get($spacing-sizes, 5) map-get($spacing-sizes, 4);

    @media only screen and (min-width: 380px) {
      padding: map-get($spacing-sizes, 6) map-get($spacing-sizes, 5);
    }
  }
}
