@import '../../../../sass/abstracts/variables';

.team-list {
  list-style: none;

  &__item {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: map-get($spacing-sizes, 4) map-get($spacing-sizes, 5);
    }

    &__icon {
      margin-right: map-get($spacing-sizes, 5);
    }

    &__description {
      flex: 1;
      display: flex;
      align-items: center;

      &__title,
      &__event {
        display: block;
      }

      &__title {
        color: $black;
        font-weight: 500;
      }

      &__event {
        font-size: $font-size-1;
        color: $gray-6;

        &--urgent {
          color: $yellow-9;
          font-weight: 700;
        }
      }

      &__title + &__event {
        margin-top: map-get($spacing-sizes, 1);
      }

      &__arrow {
        margin-left: auto;
      }
    }

    &:nth-child(odd) {
      background-color: $gray-1;
    }

    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
