@import '../../../../sass/abstracts/variables';

.box-list__item {
  &--link {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: map-get($spacing-sizes, 4) map-get($spacing-sizes, 5);
    }
  }

  &:not(&--link) {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: map-get($spacing-sizes, 4) map-get($spacing-sizes, 5);
  }

  &:nth-child(odd) {
    background-color: $gray-1;
  }

  &:first-child {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &:last-child {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
